#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.container .input {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.output {
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.result-wrapper {
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 300px;
  font-size: 4em;
  padding-top: 24px;
}
