#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.container > div {
  padding: 16px;
}

.container .input {
  display: flex;
  justify-content: center;
}

.output {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.links {
  display: flex;
  flex-direction: column;
}

.links img {
  width: 100%;
  max-width: 250px;
}

textarea {
  width: 100%;
  min-height: 200px;
  font-size: 2em;
  padding-top: 24px;
}
